name: Build and Deploy OCaml Site
on:
  push:
    branches: [main]

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up OCaml
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: 5.1.0

      - name: Install dependencies
        run: opam install . --deps-only

      - name: Build site
        run: opam exec -- dune build

      - name: Setup deployment folder
        run: |
          mkdir deploy_out
          cp -rL _build/install/default/bin/* deploy_out/
          touch deploy_out/.nojekyll

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: deploy_out/
          branch: gh-pages
